body{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/harshita-restaurant.appspot.com/o/unnamed.jpg?alt=media&token=281e392a-249b-41ed-9ab0-25ad7877d2cd');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
}
